* {
    margin: 0;
    padding: 0;
}

/* }
.navbar{
    height: 60px;
    background-color: black;
    /* margin-top: 20px; */
/* }
.btn{
    background-color: orange;
}
.logo{
    color: orange;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.main{
    background-color: aqua;
    display: inline;
}
.containt{
    text-align: center;
}
.content-box1{
    height: 100px;
    width: 400px;
    border: 2px solid black;
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.5);
}
.content-box2{
    height: 100px;
    width: 400px;
    border: 2px solid black;
    display: inline-block;
    background-color: rgba(0, 255, 0, 0.5);
}
.content-box3{
    height: 100px;
    width: 400px;
    border: 2px solid black;
    display: inline-block;
    background-color: rgba(0, 0, 255, 0.5);
}
footer{
    margin-top: 500px;
    background-color: black;
    color: white;
} */

/* =========================position property=================================== */
/* div{
    display: inline-block;
    margin: 10px;
}
.box1{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 2px solid black;
    background-image: url("./img/knae.webp");
    background-size: cover;
    
}
.box2{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 255, 0);
    border: 2px solid black;
    background-image: url('./img/kane2.webp');
    background-size: cover;
    /* position: fixed;
    top: 10px;
    right: 0; */
/* } */
/* .box3{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 98, 0);
    border: 2px solid black;
    background-image: url('./img/kane3.webp');
    background-size: cover;
     position: relative;
    top: 20px;
    left: 50px;
    z-index: -1; 
    
} */
/* .box4{
    height: 200px;
    width: 200px;
    background-color: rgb(119, 0, 255);
    border: 2px solid black;
    background-image: url('./img/vk.webp');
    background-size: cover;
     position: sticky;
    top: 10px;
    left: 20px; 
} */

/* =================================flex-box======================================= */
/* body {
    text-align: center;
} */

/* .box1 {
    height: 100px;
    width: 100px;
    background-color: aqua;
    flex-grow: 1;

} */

/* .box2 {
    height: 150px;
    width: 100px;
    background-color: rgb(255, 0, 179);
    align-self: flex-end;
} */

/* .box3 {
    height: 100px;
    width: 100px;
    background-color: rgb(34, 0, 255);
    flex-grow: 1;
} */
/* 
.box4 {
    height: 100px;
    width: 100px;
    background-color: rgb(233, 89, 45);
} */

/* .box5 {
    height: 100px;
    width: 100px;
    background-color: rgb(15, 166, 25);
} */
/* .container {
    width: 600px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    text-align: center;

} */

/* =============================navbar====================================== */
/* .navbar{
    display: flex;
    background-color: aqua;
    justify-content: space-evenly;
}
li a{
    text-decoration: none;
}
li{
    display: inline;
} */

/* ===================================transition========================================= */
/* .transition{
    height: 100px;
    width: 100px;
    margin: 100px;
    border: 2px solid black;
    background-color: aqua;
    animation-name: coloranimate;
    animation-duration: .25s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */
/* @keyframes coloranimate {
    from {background-color: aqua;}
    to {background-color: red;}
} */
/* .transition:hover{
    background-color: beige;
    transition-duration: 1s;

} */